<footer class="bg-dark text-white text-center py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy;All rights reserved to Abdalrhman Muhammad😉</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Engineer.Abdelrhman.mohamed/"
              ><i class="fab fa-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/Abdalrahman-Muhammad"
              ><i class="fa-brands fa-github" style="color: #0d6efd"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/engabdalrahamanmuhammad"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <!-- Add more social media icons as needed -->
        </ul>
      </div>
    </div>
  </div>
</footer>
